# Getting started
## haahahah
* jayesh mera naam
* jayesh mera naam

jfjefnsefnsefsefse

In [1]:
import graphlab

ModuleNotFoundError: No module named 'graphlab'

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('people-example.csv')

In [4]:
df

  First Name Last Name        Country  age
0        Bob     Smith  United States   24
1      Alice  Williams         Canada   23
2    Malcolm      Jone        England   22
3      Felix     Brown            USA   23
4       Alex    Cooper         Poland   23
5        Tod  Campbell  United States   22
6      Derek      Ward    Switzerland   25

In [5]:
df.show()

AttributeError: 'DataFrame' object has no attribute 'show'

In [7]:
df.detail()

AttributeError: 'DataFrame' object has no attribute 'detail'

In [2]:
import graphlab as gl

In [3]:
sf = gl.SFrame('people-example.csv')

This non-commercial license of GraphLab Create for academic use is assigned to jayesh.sgiramkar.eee16@itbhu.ac.in and will expire on September 21, 2019.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1538292732.log

Finished parsing file /home/jayesh/extra/people-example.csv

Parsing completed. Parsed 7 lines in 0.018219 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /home/jayesh/extra/people-example.csv

Parsing completed. Parsed 7 lines in 0.022948 secs.

In [4]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [5]:
sf.show()

Canvas is accessible via web browser at the URL: http://localhost:42227/index.html
Opening Canvas in default web browser.

In [6]:
gl.canvas.set_target('ipynb')

In [7]:
sf.show()

In [8]:
def transfform_country(country):
    if country == 'USA':
        return 'United States'
    else:
        return country

In [11]:
sf['Country'] = sf['Country'].apply(transfform_country)

In [12]:
sf['Country'].show()

In [13]:
sf.show()